.box{
    height: 450px;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    border: 2px double;
}
input{
    display: block;
    margin: auto;
    margin-top: 10px;

}
input[type=text]{
    height: 40px;
   width: 70%;
   margin-bottom: 10px;
   margin-top: 30px
}
input[type=submit]{
     height: 40px;
     width: 16%;
     margin-top:10px ;
     border-radius: 10px;
     border: 2px solid rgb(248, 143, 143);
     font-size: 20px;
     background-color: rgb(8, 65, 65);
     color: #fff;
 }
 input[type=submit]:hover{
     background-color: rgb(33, 172, 190);
     box-shadow: 1px 3px 4px rgb(36, 35, 35);
 }
select{
    height: 40px;
   width: 70%;
   margin-bottom: 10px;
   margin-top: 10px
}


.main{
    margin: auto;
    margin-top: 3%;
    height: 1200px;
    width: 90%;
    border: 2px solid  ;
}
.sub{
    height: 40px;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #18413e;
    color:#18413e;
}
.cont{
    height: 300px;
    width: 80%;
    margin: auto;
    text-align: center;
    border: 1px solid #18413e;
}



.btn{
   padding: 1%;
   background-color:rgb(8, 65, 65) ;
   color: #fff;
   border-radius: 10px;
   line-height: 70px;
   border: 2px solid rgb(248, 143, 143);
}
.btn:hover{
   background-color: rgb(33, 172, 190);box-shadow: 1px 3px 4px rgb(36, 35, 35);
}