.sub{
    height: 40px;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 3%;
    border: 1px solid #18413e;
    color:#fff;
    background-color: rgb(49, 119, 224);
  }
  .sub h2{
    line-height: 35px;
  }
  
  .cont{
    height: 300px;
    width: 90%;
    margin: auto;
    text-align: center;
    border: 1px solid #18413e;
  }
  

  .sub1{
    height: 40px;
    text-align: left;
    width: 90%;
    margin: auto;
    padding: 1%;
    border: 1px solid #18413e;
    color:#fff;
  }